<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>mangapanda</string>
		<key>host</key>
		<string>http://www.mangapanda.com</string>
		<key>list</key>
		<dict>
			<key>url</key>
			<string>alphabetical</string>
			<key>list_tag</key>
			<string>&lt;ul class=&quot;series_alpha&quot;&gt;</string>
			<key>unit_template</key>
			<string>&lt;li&gt;&lt;a href=&quot;$link$&quot;&gt;$name$&lt;/a&gt;$completed$&lt;/li&gt;</string>
		</dict>
		<key>manga</key>
		<dict>
			<key>name</key>
			<string>(?&lt;=&quot;aname&quot;&gt;)(.*)(?=&lt;/h2)</string>
			<key>alternateName</key>
			<string>(?&lt;=class=&quot;propertytitle&quot;&gt;Alternate Name:&lt;/td&gt;
&lt;td&gt;)(.*)(?=&lt;/td)</string>
			<key>year</key>
			<string>(?&lt;=class=&quot;propertytitle&quot;&gt;Year of Release:&lt;/td&gt;
&lt;td&gt;)(.*)(?=&lt;/td)</string>
			<key>ongoing</key>
			<string>(?&lt;=class=&quot;propertytitle&quot;&gt;Status:&lt;/td&gt;
&lt;td&gt;)(.*)(?=&lt;/td)</string>
			<key>author</key>
			<string>(?&lt;=class=&quot;propertytitle&quot;&gt;Author:&lt;/td&gt;
&lt;td&gt;)(.*)(?=&lt;/td)</string>
			<key>artist</key>
			<string>(?&lt;=class=&quot;propertytitle&quot;&gt;Artist:&lt;/td&gt;
&lt;td&gt;)(.*)(?=&lt;/td)</string>
			<key>genre_list</key>
			<string>(?&lt;=&lt;td class=&quot;propertytitle&quot;&gt;Genre:&lt;/td&gt;
&lt;td&gt;)([\s\S]*?)(?=&lt;/td&gt;)</string>
			<key>genre_link</key>
			<string>(?&lt;=href=&quot;)([\s\S]*?)(?=&quot;&gt;&lt;span class=&quot;genretags&quot;&gt;)</string>
			<key>genre_item</key>
			<string>(?&lt;=&lt;a )([\s\S]*?)(?=&lt;/a&gt;)</string>
			<key>genre_name</key>
			<string>(?&lt;=genretags&quot;&gt;)([\s\S]*?)(?=&lt;/span&gt;)</string>
			<key>synopsis</key>
			<string>(?&lt;=id=&quot;readmangasum&quot;&gt;)([\s\S]*?)(?=&lt;/div)</string>
			<key>synopsis_paragraph</key>
			<string>(?&lt;=p&gt;)([\s\S]*?)(?=&lt;/p)</string>
			<key>cover</key>
			<string>(?&lt;=&lt;div id=&quot;mangaimg&quot;&gt;)([\s\S]*?)(?=&lt;/div)</string>
			<key>cover_img</key>
			<string>(?&lt;=img src=&quot;)([\s\S]*?)(?=&quot; alt)</string>
			<key>chapter_block</key>
			<string>(?&lt;=&lt;div id=&quot;chapterlist&quot;&gt;)([\s\S]*?)(?=&lt;td class=&quot;footer-column)</string>
			<key>chapter_item</key>
			<string>(?&lt;=&lt;div class=&quot;chico_manga&quot;&gt;&lt;/div&gt;)([\s\S]*?)(?=&lt;td&gt;)</string>
			<key>chapter_link</key>
			<string>(?&lt;=a href=&quot;)([\s\S]*?)(?=&quot;&gt;)</string>
			<key>chapter_name</key>
			<string>(?&lt;=&lt;/a&gt; : )([\s\S]*?)(?=&lt;/td&gt;)</string>
			<key>pages</key>
			<string>(?&lt;=option value=&quot;)([\s\S]*?)(?=&quot;)</string>
		</dict>
	</dict>
</array>
</plist>
